.profileContainer{
    text-align: center;
    padding: 40px;
    min-height: 600px;
    display: block;
}

.profileContainer h1{
    font-size: 100%;
}

.profileContainer img {
    border: 5px solid black;
    border-radius: 100%;
    width: 500px;
    max-width: 80%;
}

.profileContainer button {
    font-size: 60%;
    font-family: "Comic Sans MS";
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    max-width: 80%;
}

.profileContainer button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 500px;
}

.profileContainer button:active {
    color: rgb(58, 58, 58);
    background-color: rgb(141, 141, 141);
}